
upstream tomcat {
inst{{ ansible_default_ipv4.address[-1] | int + 1}}.bugoga.ga:8080;
  {% for host in range(HOST_COUNT | int) %}
   {% if hostvars[groups['all'][host]]['ansible_default_ipv4']['address'] != ansible_default_ipv4.address %}
inst{{ hostvars[groups['all'][host]]['ansible_default_ipv4']['address'][-1] | int + 1 }}.bugoga.ga:8080 backup;
   {% endif %}
  {% endfor %}

}


server {

	root /var/www/front;
	index index.html index.htm index.nginx-debian.html;
	server_name bugoga.ga inst{{ ansible_default_ipv4.address[-1] | int + 1}}.bugoga.ga;

	     location / {
		          try_files $uri $uri/ =404;
	     }

	     location  ^~ /Back {
		          proxy_http_version 1.1;
              proxy_pass http://tomcat;
		          proxy_set_header Origin "http://tomcat";
       }

}
